# Visual Studio Code temporary files
.vscode/

# Build results
build/

# npm packages
node_modules

# npm logs
npm-debug.log*

# rollup-plugins-typescript2
.rpt2_cache

# sauceLabs test run logs
sc_karma*.log