# Visual Studio Code temporary files
.vscode/

# Build results
build/
clarity.js
decode.js

# npm packages
.rpt2_cache

# npm packages
node_modules

# npm logs
npm-debug.log*

# yarn uses its own yarn.lock file
package-lock.json

# yarn logs
yarn-error.log

# chrome debug
debug.log
